* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1% 20% 1% 20%;
    background-color: #000000;
    opacity: 0.7;
    align-items: center;
}

.logo {
    margin: 0;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
}

.logo span {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 32px;
}

.header-contacts {
    display: flex;
}

.phone {
    display: flex;
    margin-right: 30px;
}

.phone i {
    color: #ffffff;
    align-self: center;
    margin-right: 5px;
    font-size: 20px;
}

.phone-text, .email-text {
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.email {
    display: flex;
}

.email i {
    color: #ffffff;
    align-self: center;
    margin-right: 5px;
    font-size: 20px;
}

.search {
    position: relative;
}

.input-search {
    color: #ffffff;
    background-color: transparent;
    outline: 1px solid #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 5%;
    width: 208px;
    height: 38px;
}

.email-button {
    position: absolute;
    right: 16px;
    top: 8px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-list {
    padding: 1%;
}

.nav-list-active {
    border-bottom: 3px solid black;
}

.nav-link {
    color: #8c8c8c;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.nav-link-active {
    color: #000000;
}

.nav-link:hover {
    color: #000000;
}

.content {
    flex: 1 0 auto;
    padding-top: 8%;

}

.content-header, .contacts-head, .map-head, .similar-head {
    margin-bottom: 6%;
    text-align: center;
    color: #f44336;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.catalog {
    padding-bottom: 8%;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.catalog ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    flex-flow: wrap;
}

.catalog-list {
    margin-bottom: 6%;
    width: 23%;
}

.catalog-img {
    width: 100%;
}

.items-name {
    margin-bottom: 20px;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.catalog-list:nth-of-type(2) .items-name, .catalog-list:nth-of-type(5) .items-name, .catalog-list:nth-of-type(8) .items-name {
    margin: 0;
}

.catalog-button {
    width: 130px;
    height: 30px;
    text-decoration: none;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    display: inline-block;
    background-color: #f44336;
}

.catalog-button:hover, .input-submit:hover {
    opacity: 0.5;
}

.catalog-button:active, .input-submit:active {
    opacity: 0.1;
}

.show-more {
    display: inline-block;
    border: 1px solid #000000;
    height: 38px;
    width: 208px;
    text-align: center;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
}

.show-more:hover {
    background-color: #f44336;
    opacity: 0.5;
}

.show-more:active {
    opacity: 0.1;
}

.slider {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.slider-item {
    width: 50%;
    padding: 9% 0 6% 3%;
    background: url(images/sliderFirst.jpg);
    background-size: cover;
}

.slider-item:last-child {
    padding: 11% 0 6% 3%;
}

.slider-item:last-child {
    background: url(images/sliderSecond.jpg);
    background-size: cover;
}

.item-text {
}

.item-name {
    color: #010101;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
}

.item-head {
    margin-bottom: 15px;
    font-family: Poppins, sans-serif;
    color: #f44336;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
}

.item-content {
    color: #000000;
    font-size: 62px;
    font-weight: 300;
    font-family: Poppins, sans-serif;
}

.item-content span {
    color: #8c8c8c;
    font-size: 36px;
}

.oldPrice {
    text-decoration: line-through;
}

.item-button {
    text-align: center;
    width: 265px;
    height: 62px;
    line-height: 62px;
    font-size: 30px;
}

footer {
    flex: 0 0 auto;
    padding-top: 8%;
}

.contacts {
    margin-bottom: 6%;
}

.contacts-form-block {
    display: flex;
    justify-content: center;
    padding: 0 1% 0 1%;
}

.contacts-info {
    margin-right: 10%;
}

.contacts-info-head {
    color: #f44336;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
}

.contacts-info-text {
    font-style: inherit;
    color: #9e9e9e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;

}

.contacts-info-text span {
    color: #f44336;
}

.input-name, .input-email, .input-message {
    margin-bottom: 4%;
    padding-left: 3%;
    width: 471px;
    height: 47px;
    color: #8e8e8e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.input-message {
    height: 138px;
    padding-bottom: 95px;
}

.input-submit {
    width: 140px;
    height: 39px;
    background-color: #f44336;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
}

.map-block {
    text-align: center;
    margin-bottom: 8%;
}

.map iframe {
    width: 65%;
    height: 300px;
}

.basement {
    background-color: #000000;
    min-height: 70px;
    text-align: center;
}

.basement-text {
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 70px;
}

.basement-text span {
    color: #f44336;
}


@media screen and (max-width: 1200px) {
    .header {
        padding: 1% 10% 1% 10%;
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding: 4% 5% 4% 5%;
        flex-flow: wrap;
    }

    .catalog-list {
        width: 48%;
    }

    .slider-item {
        width: 100%;
    }

    .map iframe {
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .logo, .header-contacts {
        margin-bottom: 15px;
    }

    .contacts-form-block {
        text-align: center;
    }

    .contacts-info {
        margin: 0;
    }

    .contacts-form-block {
        flex-direction: column-reverse;
    }

    .input-name, .input-email, .input-message {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .catalog-list {
        width: 100%;
    }

    .nav ul {
        flex-direction: column;
    }

    .item-name {
        font-size: 14px;
    }

    .item-head {
        font-size: 30px;
    }

    .item-content {
        font-size: 50px;
    }

    .item-content span {
        font-size: 26px;
    }

    .item-button {
        width: 212px;
        height: 50px;
        line-height: 50px;
    }

    .header-contacts {
        flex-direction: column;
    }
}