<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContactUs</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../layout/styles/normalize.css">
    <link rel="stylesheet" href="../../layout/styles/style.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f97ecc415a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="header">
            <h1 class="logo">
                Historical
                <br>
                <span>
                    GAMES
                </span>
            </h1>
            <div class="header-contacts">
                <div class="phone">
                    <i class="fas fa-mobile-alt"></i>
                    <p class="phone-text">
                        +123 456 7890
                    </p>
                </div>
                <div class="email">
                    <i class="fas fa-envelope"></i>
                    <p class="email-text">
                        info@example.com
                    </p>
                </div>
            </div>
            <div class="search">
                <label>
                    <input type="search" placeholder="Search" class="input-search">
                    <a href="#" class="email-button">
                        <img src="../../layout/images/search.png" alt="search">
                    </a>
                </label>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <li class="nav-list">
                    <a href="#" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-list">
                    <a href="#" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-list">
                    <a href="#" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-list">
                    <a href="../../../public/index.html" class="nav-link">
                        Gallery
                    </a>
                </li>
                <li class="nav-list">
                    <a href="#" class="nav-link">
                        News
                    </a>
                </li>
                <li class="nav-list">
                    <a href="#" class="nav-link">
                        Team
                    </a>
                </li>
                <li class="nav-list nav-list-active">
                    <a href="#" class="nav-link nav-link-active">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <hr>
    </header>
    <footer>
        <div class="contacts">
            <h2 class="contacts-head">
                Contact Us
            </h2>
            <div class="contacts-form-block">
                <div class="contacts-info">
                    <h4 class="contacts-info-head">
                        Get in touch with us
                    </h4>
                    <address class="contacts-info-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets <br>
                        containing Lorem Ipsum passages sed do, At vero eos et accusamus et <br>
                        iusto odio digs qui blanditiis <br>
                        <br>
                        <br>
                        Leningradsky AVE 39, BLDG 79
                        MOSCOW 125167, Russia
                        <br>
                        <br>
                        Telephone : +00 111 222 3333
                        <br>
                        <br>
                        FAX : +1 888 888 4444
                        <br>
                        <br>
                        Email : <span>mail@example.com</span>
                    </address>
                </div>
                <div class="contacts-forms">
                    <form action="#">
                        <label>
                            <input type="text" placeholder="Name" class="input-name">
                        </label>
                        <br>
                        <label>
                            <input type="email" placeholder="Email" class="input-email">
                        </label>
                        <br>
                        <label>
                            <input type="text" placeholder="Message" class="input-message">
                        </label>
                        <br>
                        <label>
                            <input type="submit" class="input-submit" value="SUBMIT">
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="map-block">
            <h3 class="map-head">
                Route Map
            </h3>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5260.906918229506!2d37.53816605872286!3d55.796417582354394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0af2d5e3f%3A0xa77899d557548e3a!2sMail.Ru%20Group!5e0!3m2!1sru!2sru!4v1606740440763!5m2!1sru!2sru"
                        style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="basement">
            <p class="basement-text">
                © 2017 Historical Games. All rights reserved | Design by <span>W3layouts</span>
            </p>
        </div>
    </footer>
</div>
</body>
</html>